<div>
  <MyComponent
    class="top start-enabled"
    @viewportSpyOverride={{true}}
  >
    <p>Starts enabled</p>
  </MyComponent>
</div>

<div class="hide-me">
  <MyComponent
    class="bottom"
    @viewportSpyOverride={{true}}
    @viewportIntersectionObserverOverride={{false}}
  >
    <p>Hi!</p>
  </MyComponent>
</div>
