// BASE
a.active {
  color: magenta;
}

.my-component {
  display: inline-block;
  width: 300px;
  background-color: black;
}

.my-component p {
  color: white;
}

.my-component.active {
  background-color: red;
}

.my-component.top {
  margin-bottom: 300px;
}

.hide-me {
  margin-top: 1500px;
}

#ember-testing-container {
  margin-bottom: 500px !important;
}

.infinity-container {
  border: 1px solid black;
  height: 500px;
  width: 70%;
  overflow: scroll;
}
.infinity-component, .infinity-scrollable {
  height: 10px;
}

