.my-component {
  display: inline-block;
  width: 300px;
  background-color: black;
}

.my-component p {
  color: white;
}

.my-component.active {
  background-color: red;
}

.my-component.top {
  margin-bottom: 300px;
}

.hide-me {
  margin-top: 1500px;
}

#ember-testing-container {
  margin-bottom: 500px !important;
}
