<div>
  {{#my-component class="top start-enabled"
    viewportSpyOverride=true
  }}
    <p>Starts enabled</p>
  {{/my-component}}

  {{#my-component class="top start-disabled"
    viewportSpyOverride=true
    viewportEnabledOverride=false
  }}
    <p>Starts disabled</p>
  {{/my-component}}
</div>

<div class="hide-me">
  {{#my-component class="bottom"}}
    <p>Hi!</p>
  {{/my-component}}

  {{tagless-component}}
</div>
