<div>
  {{#my-component
    viewportSpyOverride=true
    class="top start-enabled"}}
    <p>Starts enabled</p>
  {{/my-component}}

  {{#my-component
    class="top start-disabled"
    viewportEnabledOverride=false
  }}
    <p>Starts disabled</p>
  {{/my-component}}
</div>

<div class="hide-me">
  {{#my-component
    viewportSpyOverride=true
    viewportIntersectionObserverOverride=false
    class="bottom"
  }}
    <p>Hi!</p>
  {{/my-component}}
</div>
