<div>
  {{#my-component class="top"
    viewportSpyOverride=true
  }}
    <p>Hi!</p>
  {{/my-component}}
</div>

<div class="hide-me">
  {{#my-component class="bottom"}}
    <p>Hi!</p>
  {{/my-component}}
</div>
