<div class="list" style="height: 200px; overflow: scroll;">
  <ul style="display:flex">
    {{#each this.model as |val|}}
      <div class="infinity-svg">
        <svg width="200" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
          {{{val}}}
        </svg>
      </div>
    {{/each}}

    <MyComponent
      class="infinity-scrollable"
      @scrollableAreaOverride=".list"
      @viewportSpyOverride={{true}}
      @viewportToleranceOverride={{this.viewportToleranceOverride}}
      @intersectionThresholdOverride={{1}}
      @infinityLoad={{this.infinityLoad}}
    >
      &nbsp;
    </MyComponent>
  </ul>
</div>
