<div class="list-scrollEvent infinity-container">
  <ul>
    {{#each model as |val|}}
    <div class="infinity-svg-scrollEvent">
      <svg width="200" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
        {{{val}}}
      </svg>
    </div>
    {{/each}}
  </ul>
  {{my-component
    class="infinity-scrollable-scrollEvent"
    viewportSpyOverride=true
    viewportIntersectionObserverOverride=false
    viewportRAFOverride=false
    scrollableAreaOverride=".list-scrollEvent"
    infinityLoad=(action "infinityLoad")}}
</div>
